@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700;800&family=JetBrains+Mono:wght@500&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#131313] text-[#e5e2e1] antialiased;
    font-family: 'Prompt', sans-serif;
  }
}

.font-mono-spec {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #131313;
}
::-webkit-scrollbar-thumb {
  background: #414755;
  border-radius: 10px;
}